#canvas {
  position: absolute;
  top: 10%;
  left: 10%;
  border: 2px solid black;
}

#brush {
  position: absolute;
  top: 12%;
  left: 50%;
}

#brushColor {
  position: absolute;
  top: 15%;
  left: 50.8%;
  width: 1.3%;
  height: 2.5%;
  background: black;
}

/* #brushColor: active {
  cursor: crosshair;
} */

#eraser {
  position: absolute;
  top: 12%;
  left: 53%;
}

#eraserBrush {
  position: absolute;
  top: 15%;
  left: 53.8%;
  width: 1%;
  height: 2%;
  background: white;
  border: 2px solid;
}

#canvasimg {
  position: absolute;
  top: 10%;
  left: 52%;
  display: none;
}

#saveButton {
  position: absolute;
  top: 70%;
  left: 25%;
}

#clearButton {
  position: absolute;
  top: 70%;
  left: 30%;
}
