#canvas {
  border: 5px solid black;
  position: absolute;
  top: 75;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#heading1 {
  text-align: center;
}

p {
  text-align: center;
}

#submit {
  position: relative;
}
